{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/form/form.css') }}" rel="stylesheet">

{% endblock %}

{% block body %}
    <main>
        <h1 class="title">S'inscrire</h1>

        <div class="main_register">
            <div>
                {{ form_start(registrationForm) }}
                {{ form_row(registrationForm.civilite) }}
                <div class="form_element">
                    {{ form_row(registrationForm.nom) }}
                </div>
                <div class="form_element">
                    {{ form_row(registrationForm.prenom) }}
                </div>
                <div class="form_element">
                    {{ form_row(registrationForm.mail) }}
                </div>
                <div class="form_element">
                    {{ form_row(registrationForm.ville) }}
                </div>
                <div class="form_element">
                    {{ form_row(registrationForm.codePostal) }}
                </div>
                <div class="form_element">
                    {{ form_row(registrationForm.username, {
                        label: "Nom d'utilisateur"
                    }) }}
                </div>
                <div class="form_element">
                    {{ form_row(registrationForm.plainPassword, {
                        label: 'Mot de passe'
                    }) }}
                </div>

                {{ form_row(registrationForm.agreeTerms, {
                    label: "J'accepte les termes"
                }) }}



                <button type="submit" class="btn">S'inscrire</button>
                {{ form_end(registrationForm) }}
            </div>
            <div>
                <img src={{ asset('img/background/koko_canva.png') }}>
            </div>
        </div>

    </main>

{% endblock %}
