{% extends 'base.html.twig' %}

{% block title %}Exercices
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('css/exercices/listing.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
	<main>
		<div >
			<h1 class="title">Bonjour</h1>
			<h2>Liste des exercices disponibles</h2>
			<ul>
				{% for e in exercices %}
					{% if e.visible %}
						{% for n in e.niveaux %}
							<li class="exercice">
								<a href="/exercices/{{e.id}}/{{n.numero}}#/{{e.id}}/{{n.numero}}">{{e.nom}}
									({{n.nom}})</a>
							</li>
						{% endfor %}
					{% endif %}
				{% endfor %}
			</ul>
		</div>
	</main>

{% endblock %}
